*.pc
*.tar.gz
*.tgz
.eunit
.eunit/
.generated_app_file
.package
.rebar/
Makefile
Makefile.am
Makefile.in
ac-init.generated
aclocal.m4
autom4te.cache
build
config.guess
config.log
config.status
configure
configure.ac
create-package
ebin/
fw
fw-pkgout
fw-pkgtmp
install-sh
missing
rebar
rebar.config.script
