% -*- mode: erlang -*-
{erl_opts, [ debug_info
           , {platform_define, "1[89]|2[0-9]", 'NAMESPACED_TYPES'}
           , {platform_define, "R1(1|2|3|4|5|6)", 'OXTHRIFT_NO_MAPS'}
           %% , {d, 'DEBUG_CONNECTIONS'} %% Debug errors in connection monitoring.
           %% , {d, 'MONDEMAND_PROGID', myapp} %% Emit mondemand stats for errors.
           ]}.

{xref_checks, [ undefined_function_calls, undefined_functions, locals_not_used ]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{deps, [
  {ranch, ".*", {git, "https://github.com/ninenines/ranch.git", {tag, "1.7.1"}}}
]}.

{profiles,
 [ {test, [ {deps,
             [ {meck, {git, "git@github.com:eproxus/meck.git", {tag, "0.8.9"}}}
             , {mondemand, {git, "git@github.corp.openx.com:mirrors/mondemand-mondemand-erlang.git", {tag, "6.10.0"}}}
             ]} ]}
 ]
}.
