% -*- mode: erlang -*-
{require_min_otp_vsn, "21"}.

{erl_opts, [ debug_info
           , warn_missing_spec
           %% , {d, 'DEBUG_CONNECTIONS'} %% Debug errors in connection monitoring.
           %% , {d, 'MONDEMAND_PROGID', myapp} %% Emit mondemand stats for errors.
           ]}.

{xref_checks, [ undefined_function_calls, undefined_functions, locals_not_used ]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{deps, [
  {ranch, {git, "https://github.com/ninenines/ranch.git", {tag, "1.7.1"}}}
]}.

{dialyzer, [{plt_extra_apps, [ranch]}]}.

{profiles,
 [ {test, [ {deps,
             [ {meck, {git, "git@github.com:eproxus/meck.git", {tag, "0.8.9"}}}
             , {shackle, {git, "git@github.com:lpgauth/shackle.git", {tag, "0.6.4"}}}
             ]} ]}
 ]
}.
