% -*- mode: erlang -*-
{require_min_otp_vsn, "18"}.

{erl_opts, [ debug_info
           %% , {d, 'DEBUG_CONNECTIONS'} %% Debug errors in connection monitoring.
           %% , {d, 'MONDEMAND_PROGID', myapp} %% Emit mondemand stats for errors.
           ]}.

{xref_checks, [ undefined_function_calls, undefined_functions, locals_not_used ]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{deps, [
  {ranch, {git, "https://github.com/ninenines/ranch.git", {tag, "2.1.0"}}}
]}.

{profiles,
 [ {test, [ {deps,
             [ {meck, {git, "git@github.com:eproxus/meck.git", {tag, "0.8.9"}}}
             , {mondemand, {git, "git@github.com:mondemand/mondemand-erlang.git", {tag, "6.12.1"}}}
             , {lwes, {git, "git@github.com:uwiger/lwes-erlang.git", {tag, "5.0.0"}}}
             , {parse_trans, {git, "git@github.com:openx/parse_trans.git", {tag, "3.3.0"}}}
             , {shackle, {git, "git@github.com:lpgauth/shackle.git", {tag, "0.6.4"}}}
             ]} ]}
 ]
}.
